// Mobile first
@mixin mbreakpoint($media, $ie:false) {
	@if $media == small {
		@media only screen and (min-width: $break-xsmall) { @content; }
	}@else if $media == medium {
		@media only screen and (min-width: $break-small) { @content; }
	}@else if $media == large {
		@media only screen and (min-width: $break-medium) { @content; }
	}@else if $media == xlarge {
		@media only screen and (min-width: $destkop-layout-size) { @content; }
	}@else if $media == xxl {
		@media only screen and (min-width: $break-wide) { @content; }
	}@else if $media == tall {
		@media only screen and (min-height: $break-tall-screen) { @content; }
	}

	// If IE argument is passed in, apply the styles to pages with class .lt-ie9
	@if $ie == ie {
		.lt-ie9 & {
			@content;
		}
	}
}

// Breakpoints tests (only here for reference and ordering)
// Mobile first breakpoint test
#breakpoint-mobile-first {
	&:before {
		display: block;
		content: "xsmall (default --> 320px to 479px)";
	}

	@include mbreakpoint(tall) {
		color: green;
	}

	@include mbreakpoint(small) {
		&:before {
			content: "small --> min-width: 480px";
		}
	}

	@include mbreakpoint(medium) {
		&:before {
			content: "medium --> min-width: 600px";
		}
	}

	@include mbreakpoint(large) {
		&:before {
			content: "large --> min-width: 768px";
		}
	}

	@include mbreakpoint(xlarge, ie) {
		&:before {
			content: "xlarge --> min-width: 980px";
		}
	}

	@include mbreakpoint(xxl) {
		&:before {
			content: "xxl --> min-width: 1200px";
		}
	}
}