// Desktop first
@mixin mq($media) {
	@if $media == xsmall {
		@media only screen and (max-width: $break-xsmall - 1) { @content; }
	}@else if $media == small {
		@media only screen and (max-width: $break-small - 1) { @content; }
	}@else if $media == medium {
		@media only screen and (max-width: $break-medium - 1) { @content; }
	}@else if $media == large {
		@media only screen and (max-width: $destkop-layout-size) { @content; }
	}@else if $media == large-only { // iPad only mediaquery
		@media only screen and (min-width: $break-large) and (max-width: $destkop-layout-size) { @content; }
	}@else if $media == xxl {
		@media only screen and (min-width: $break-wide) { @content; }
	}@else if $media == tall {
		@media only screen and (min-height: $break-tall-screen) { @content; }
	}
}

// Breakpoints tests (only here for reference and ordering)
// Desktop first breakpoint test
#breakpoint {
	&:before {
		display: block;
		content: "xlarge (default --> 1025px to 1199px)";
	}

	@include mq(tall) {
		color: green;
	}

	@include mq(large) {
		&:before {
			content: "large --> max-width: 1024px";
		}
	}

	@include mq(medium) {
		&:before {
			content: "medium --> max-width: 767px";
		}
	}

	@include mq(small) {
		&:before {
			content: "small --> max-width: 599px";
		}
	}

	@include mq(xsmall) {
		&:before {
			content: "xsmall --> max-width: 479px";
		}
	}

	@include mq(xxl) {
		&:before {
			content: "xxl --> min-width: 1200px";
		}
	}
}

@mixin breakpoint-label {
	&:before {
		display: block;
		color: white;
		font-size: 12px;
		position: fixed;
		padding: 0px 7px;
		font-family: Courier, sans-serif;
		bottom: 0; right: 0;
		background-color: rgba(0,0,0,.3);
		content: "xlarge (default --> 1025px to 1199px)";
	}

	@include mq(tall) {
		// color: green;
	}

	@include mq(large) {
		&:before {
			content: "large --> max-width: 1024px";
		}
	}

	@include mq(medium) {
		&:before {
			content: "medium --> max-width: 767px";
		}
	}

	@include mq(small) {
		&:before {
			content: "small --> max-width: 599px";
		}
	}

	@include mq(xsmall) {
		&:before {
			content: "xsmall --> max-width: 479px";
		}
	}

	@include mq(xxl) {
		&:before {
			content: "xxl --> min-width: 1200px";
		}
	}
}