/* ============================================================================
   COMPONENTS -> EXAMPLE
   ========================================================================= */

/**
 * Example component
 */

.footer {
    background: $mirum-purple;
    color: $mirum-bone;
    margin: 50px 0 0;
    padding: 100px 0;
}

