/* ============================================================================
   BASE
   ========================================================================= */

/**
 * Set up a decent box model on the root element
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}


/**
 * Base styles for all the core elements
 */

html,
button,
input,
select,
textarea {
    color: $color-text;
    font-family: $font-stack;
}

body {
    @include breakpoint-label; // TODO: remove before pushing to DEV/STAGE/PROD
    background: $mirum-bone;
    font-size: $font-size-base;
    line-height: $line-height-base;
}

a {
    color: $color-link;
    text-decoration: none;

    &:visited {
        color: $color-link-visited;
    }

    &:hover {
        color: $color-link-hover;
    }

    &:focus,
    &:active {
        color: $color-link-active;
    }
}

// General focus rule
:focus {
    outline: 3px dotted $color-link-hover;
}

// h1, h2, h3, h4, h5, h6 {}

img {
    vertical-align: middle;
    max-width: 100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

// Selection
::selection {
    background: $color-selection;
    text-shadow: none;
}

// Placeholder color
::placeholder {
    color: $color-placeholder;
}
