/* ============================================================================
   HELPERS
   ========================================================================= */

/**
 * Helper classes to quickly modify an element behavior or style
 */

// Clearfix
.h-clearfix {
    @include clearfix;
}

// Hide from both screenreaders and browsers: h5bp.com/u
.h-hidden {
    display: none !important; // sass-lint:disable-line no-important
    visibility: hidden;
}

// Hide only visually, but have it available for screenreaders: h5bp.com/v
.h-visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

// Extends the .h-visually-hidden class to allow the element to be focusable
// when navigated to via the keyboard: h5bp.com/p
.h-visually-hidden.h-focusable:active,
.h-visually-hidden.h-focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

// Simple center text alignment
.h-center {
    text-align: center;
}
