/* ============================================================================
   LAYOUTS
   ========================================================================= */

/**
 * Styles for the container (Susy)
 */

.container {
    @include container;
    padding-left: $grid-padding-xsmall;
    padding-right: $grid-padding-xsmall;

    @include mq(medium) {
        $grid: mq-susy-grid(medium);
        @include container($grid);
        padding-left: $grid-padding-medium;
        padding-right: $grid-padding-medium;
    }

    @include mq(large) {
        // $grid: mq-susy-grid(large);
        // @include container($grid);
        padding-left: $grid-padding-large;
        padding-right: $grid-padding-large;
    }

    @include mq(xlarge) {
        padding-left: $grid-padding-xlarge;
        padding-right: $grid-padding-xlarge;
    }
}


/**
 * EXAMPLE of:
 * Full width on small & under
 * 50/50 on medium & over
 */

.l-half {
    @include clearfix;
    background: rgba(100, 100, 100, 0.3);
}

.l-half__col {
    @include span(4);
    background: $mirum-yellow;

    @include mq(small) {
        @include span(2);

        &:nth-child(odd) {
            @include last;
        }
    }

    @include mq(medium) {
        @include span(6 of 12);
    }
}


/**
 * EXAMPLE of:
 * Full width on small & under
 * 1/3 on medium & over
 */

.l-third {
    @include clearfix;
    background: rgba(100, 100, 100, 0.3);
}

.l-third__col {
    @include span(4);
    background: $mirum-green;
    margin-bottom: 20px;

    @include mq(medium) {
        @include span(4 of 12);

        &:nth-child(3n) {
            @include last;
        }
    }
}
