/* ============================================================================
   TYPOGRAPHY
   ========================================================================= */

/**
 * Headings.
 */

%heading-1,
.heading-1 {
    font-family: $font-stack-alt;
}

%heading-2,
.heading-2 {
    font-family: $font-stack-alt;
}

%heading-3,
.heading-3 {
    font-family: $font-stack-alt;
}

%heading-4,
.heading-4 {
    font-family: $font-stack-alt;
}

%heading-5,
.heading-5 {
    font-family: $font-stack-alt;
}
