/*
  For:
  Author:
  Date:
*/

/*!
Project Name
*/

// Normalize.css
@import "normalize";

// Mixins, helpers & variables (@font-face fonts are in variables)
@import "variables";
@import "mixins";
@import "helpers";

// Animations
@import "anim";

// Base/defaults (html, body, typography, headings, lists, etc)
@import "base";

// Layout, grid, header, footer
@import "layout";

// Modules (could be also used for page specific styles)
@import "modules";

// Others...
